*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* start header */
.header{
    background-image: url(../images/header.jpg);
    background-size: cover;
    position: relative;
    color: #ffffff;
    z-index: 2;
}
.overlay{
    position:absolute;
    background-color: rgba(0,0,0, .7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}
.header .info{
    text-transform: uppercase;
     
    margin-top: 30px;
    color: #fff;
    ;
    padding: 30px 30px;
}
.info .logo, .info h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-family: fantasy;
    font-size: 40px;
    letter-spacing: 10px;
    word-spacing: 18px;
}
/* .call h1{
    text-shadow: 0px 3px #fff;
    margin-top: 60px;
} */

/* start menu  */
.menu h1{
    margin: 40px auto;
    width: 245px;
    color: #615f5f;
    padding: 10px;
    border-bottom: 5px solid #f00;
    border-top: 5px solid #f00;
    text-align: center;
}
.menu h1:hover{
    letter-spacing: 1px;
    transition: all 1s ease-in-out;
}
.card{
    margin-top: 20px;
}
.card:hover{
    transform: scale(1.1);
    transition: all 1s ease;
}
.menu .row div{
    margin-bottom: 3px;
}
.card-body{
    background-color: #DE373F;
}
.card-title {
    color: #fff;
    margin-bottom: 25px !important;
    font-family: tahoma;
    text-align: center;
}
.price{
text-align: center;
}
.price .row{
    justify-content: center;
}
/* .price .row .num {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.price .row .char{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
} */
.price span{
    margin:0 10px;
    background: #4e4343;
    padding: 5px 15px;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
}
@media(max-width:576px){
    .price .row{
        
        margin-bottom: 10px !important;
    }
    .price .row span:first-of-type{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px ;
    }
    
    .price .row span:last-of-type{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px ;
    }
    .price .row:first-of-type span:first-of-type::after{
        content: "mall";
    }
    .price .row:nth-of-type(2) span:first-of-type::after{
        content: "edium";
    }
    .price .row:last-of-type span:first-of-type::after{
        content: "arge";
    }
}






